/* dash remover css */

/* standard css */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 3em 1.5em 3em 1.5em;
    font-size: large;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: large;

    background-attachment: fixed;
    background-image: linear-gradient(to left bottom, #88aee9, #64c9ee, #70dede, #a5eec7, #e4f7b9);
}


hr {
    margin-top: 3em;
    margin-bottom: 3em;
    border: none;
    border-top: 3px dashed black;
}


.footer-links, a {
    text-align: center;
    margin-bottom: 2em;
    font-size: xxx-large;
    text-decoration: none;
}

/* project css  */

input {
    font-size: large;
    width: 200px;
    text-align: center;
    padding:0.5em 1.2em;
    border:0.2em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
}

button {
    padding:0.5em 1.2em;
    border:0.2em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:500;
    font-size: large;
    color:black;
    transition: all 0.2s;
    margin-bottom: 2em;
}

button:hover{
    color:black;
    background-color: #FFD95C;  /* gold */
}

button:active {
    transform: translateY(4px); /* Move the button down slightly when clicked */
}

.add-button:hover{
    background-color: #E0B0FF; /* purple */
}



.result {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-weight: bolder;
    color: #0F2167;
}


.copy-alert {
    position: fixed;
    left: 50%;
    top: 50%;
    font-size: xx-large;
    transform: translate(-50%, -50%);
    background-color: rgba(34,34,34,0.8);
    color: white;
    padding: 1em;
    border-radius: 10px;
    border: solid #3D3D3D;
    text-align: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

