<!-- TEMPLATE - table of contents category -->

<h4><a href="#category-[CATEGORY-NAME]" class="toc-category-style">📌 [CATEGORY NAME]</a></h4>


    <!-- table of contents  category sub-items -->
    <ol>
      <li><a href="#article-[ARTICLE-ID]" id="toc-[CATEGORY-NAME]">[ARTICLE NAME]</a></li> 
    </ol>


<!-- TEMPLATE - category header -->

<a href="#toc-[CATEGORY-NAME]"><h2 id="category-[CATEGORY-NAME]" class="category-style">📌 [CATEGORY NAME]</h2></a>



<!-- TEMPLATE ARTICLE -->

<article>
    <div id="article-[ARTICLE-ID]">

    <h2>ARTICLE NAME</h2>
    <p class="article-date">Created: DD MMM YYYY, Day | Updated: DD MMM YYYY, Day</p>
      
    <p>
    ARTICLE CONTENT
    </p>

    <br>
    <p><strong><em>Tag:</strong> tag, keywords</em></p>
    <br>
    <a href="#blog-top" class="link-to-article-toc">[ back to table of contents ]</a>

  </div>
<hr class="divider"> 
</article>

