/* buttons.css */



#burger-button {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em;
  cursor: pointer;
  z-index: 1000;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font-size: xx-large;
}





.mode-buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 1.5em;
}

.mode-buttons button {
    flex: 1;
    background: lightgray;
    border: none;
    color: white;
    padding: 12px 0;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.mode-buttons button.selected {
    background-color: #005A9C;
}

.mode-buttons button:hover:not(.selected) {
    background-color: #B0C4DE;
}


/* method buttons */
.method-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 0.5em;
}

.method-buttons button {
    background: #4a90e2;
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.method-buttons button.selected {
    background-color: #357abd;
}

.method-buttons button:hover:not(.selected) {
    background-color: #357abd;
}

/* list & options buttons and text areas*/

.list-textarea {
    min-height: 120px;
    padding: 10px 14px;
    border-radius: 15px;
    border: 2px solid ;
}

.list-item {
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}


.list-buttons button {
    background: #4a90e2;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    user-select: none;
    transition: background-color 0.3s ease;
}

.list-buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 4px;
}

.list-buttons button:disabled {
    background: #bbb;
    cursor: not-allowed;
}

.list-buttons button:hover:not(:disabled) {
    background: #005A9C;
}




button {
    flex: 1;
    background: #005A9C;
    border: none;
    color: white;
    padding: 0.7em;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    width: auto;
}

button:hover {
    background: #357abd;
}
