/* color css */

.color-light-blue {
    background: #009bcb;
}


.color-red {
    background: #bbb;
}


.color-light-yellow {
    background: #FFFBEB;
}


.color-light-green {
    background: #ECFDF5;
}
